@page "/"
@using System.Timers



<section class="">

  <div class="container-fluid">
    <div class="row">
      <div @oncontextmenu="ChangeWhiteScore" @oncontextmenu:preventDefault @onclick="ChangeWhiteScore" class="col-lg-6 vh-60 bg-white text-center align-middle user-select-none" style="font-size: 20em">
         @_scoreWhite
      </div>
      <div @oncontextmenu="ChangeBlueScore" @oncontextmenu:preventDefault @onclick="ChangeBlueScore" class="col-lg-6 vh-50 bg-primary align-middle text-center user-select-none" style="font-size: 20em; color: white">
        @_scoreBlue
      </div>
       <div @onclick="ToggleTime"  class="col-lg-12 vh-40 bg-dark align-middle text-center user-select-none" style="font-size: 15em; color: white">
              @_currentCount.ToString("mm\\:ss")
            </div>
    </div>
  </div>

</section>

@code {
  private string _scoreBlue;
  private string _scoreWhite;
  private TimeSpan _currentCount;
  private System.Timers.Timer _timer;
  
  protected override void OnInitialized()
  {
    base.OnInitialized();
    _scoreWhite = "000";
    _currentCount = TimeSpan.FromMinutes(4);
    _scoreBlue = "000";
    
    _timer = new();
    _timer.Interval = 1000;
    _timer.Elapsed += async (object? sender, ElapsedEventArgs e) =>
    {
      _currentCount-= TimeSpan.FromSeconds(1);               
      await InvokeAsync(StateHasChanged);
    };
    
  }

  private string ChangeScore(string score)
  {
    if (score == "000")
    {
     return "10";
    }
    if (score == "10")
    {
      return "100";
    }
    return score;
  }
  
  private string RevertScore(string score)
  {
    if (score == "100")
    {
      return "10";
    }
    if (score == "10")
    {
      return "000";
    }
    return score;
  }


  public void ChangeWhiteScore(MouseEventArgs args)
  {
    if (args.Button == 2) // 2 represents the right mouse button
    {
      _scoreWhite = RevertScore(_scoreWhite);
    }
    if (args.Button == 0) // 0 represents the left mouse button
    {
      _scoreWhite = ChangeScore(_scoreWhite);
    }
   
  }

  public void ChangeBlueScore(MouseEventArgs args)
  {
    if (args.Button == 2) // 2 represents the right mouse button
    {
      _scoreBlue = RevertScore(_scoreBlue);
    }
    if (args.Button == 0) // 0 represents the left mouse button
    {
      _scoreBlue = ChangeScore(_scoreBlue);
    }
  }

  private void ToggleTime()
  {
    _timer.Enabled = !_timer.Enabled;
  }

}